In [ ]:
!pip -qqq install pip --progress-bar off
!pip -qqq install langchain-core==0.2.9 --progress-bar off
!pip -qqq install langchain-community==0.2.5 --progress-bar off
!pip -qqq install 'crewai[tools]'==0.32.0 --progress-bar off
!pip -qqq install langchain-groq==0.1.5 --progress-bar off
!pip -qqq install langchain-experimental==0.0.61 --progress-bar off

In [4]:
import json
import os
import sqlite3
from dataclasses import asdict, dataclass
from datetime import datetime, timezone
from pathlib import Path
from textwrap import dedent
from typing import Any, Dict, List, Tuple, Union

import pandas as pd
from crewai import Agent, Crew, Process, Task
from crewai_tools import tool
#from google.colab import userdata
from langchain.schema import AgentFinish
from langchain.schema.output import LLMResult
from langchain_community.tools.sql_database.tool import (
    InfoSQLDatabaseTool,
    ListSQLDatabaseTool,
    QuerySQLCheckerTool,
    QuerySQLDataBaseTool,
)
from langchain_community.utilities.sql_database import SQLDatabase
from langchain_core.callbacks.base import BaseCallbackHandler
from langchain_core.prompts import ChatPromptTemplate
from langchain_groq import ChatGroq

In [8]:
from dotenv import load_dotenv
load_dotenv()
API_KEY = os.getenv("GROQ_API_KEY")

In [5]:
df = pd.read_csv("ds-salaries.csv")
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [6]:
connection = sqlite3.connect("salaries.db")
df.to_sql(name="salaries", con=connection)

3755

## LLM (Llama 3)

In [7]:
@dataclass
class Event:
    event: str
    timestamp: str
    text: str


def _current_time() -> str:
    return datetime.now(timezone.utc).isoformat()


class LLMCallbackHandler(BaseCallbackHandler):
    def __init__(self, log_path: Path):
        self.log_path = log_path

    def on_llm_start(
        self, serialized: Dict[str, Any], prompts: List[str], **kwargs: Any
    ) -> Any:
        """Run when LLM starts running."""
        assert len(prompts) == 1
        event = Event(event="llm_start", timestamp=_current_time(), text=prompts[0])
        with self.log_path.open("a", encoding="utf-8") as file:
            file.write(json.dumps(asdict(event)) + "\n")

    def on_llm_end(self, response: LLMResult, **kwargs: Any) -> Any:
        """Run when LLM ends running."""
        generation = response.generations[-1][-1].message.content
        event = Event(event="llm_end", timestamp=_current_time(), text=generation)
        with self.log_path.open("a", encoding="utf-8") as file:
            file.write(json.dumps(asdict(event)) + "\n")

In [9]:
llm = ChatGroq(
    temperature=0,
    model_name="llama3-70b-8192",
    callbacks=[LLMCallbackHandler(Path("prompts.jsonl"))],
)

In [10]:
human = "{text}"
prompt = ChatPromptTemplate.from_messages([("human", human)])

chain = prompt | llm
response = chain.invoke(
    {
        "text": "Which company has better models OpenAI or Anthropic? Respond with just the company name."
    }
)

print(response.content)

Anthropic

In [11]:
response.__dict__

{'content': 'Anthropic',
 'additional_kwargs': {},
 'response_metadata': {'token_usage': {'completion_tokens': 3,
   'prompt_tokens': 28,
   'total_tokens': 31,
   'completion_time': 0.009763424,
   'prompt_time': 0.000816049,
   'queue_time': 0.012561811,
   'total_time': 0.010579473},
  'model_name': 'llama3-70b-8192',
  'system_fingerprint': 'fp_2f30b0b571',
  'finish_reason': 'stop',
  'logprobs': None},
 'type': 'ai',
 'name': None,
 'id': 'run-0594a5ff-4b52-469e-a22f-a75d16ac8fa6-0',
 'example': False,
 'tool_calls': [],
 'invalid_tool_calls': [],
 'usage_metadata': {'input_tokens': 28,
  'output_tokens': 3,
  'total_tokens': 31}}

## Tools

In [12]:
db = SQLDatabase.from_uri("sqlite:///salaries.db")

In [13]:
@tool("list_tables")
def list_tables() -> str:
    """List the available tables in the database"""
    return ListSQLDatabaseTool(db=db).invoke("")

In [14]:
list_tables.run()

Using Tool: list_tables

'salaries'

In [15]:
@tool("tables_schema")
def tables_schema(tables: str) -> str:
    """
    Input is a comma-separated list of tables, output is the schema and sample rows
    for those tables. Be sure that the tables actually exist by calling `list_tables` first!
    Example Input: table1, table2, table3
    """
    tool = InfoSQLDatabaseTool(db=db)
    return tool.invoke(tables)

In [16]:
print(tables_schema.run("salaries"))

Using Tool: tables_schema

CREATE TABLE salaries (
	"index" INTEGER,
	work_year INTEGER,
	experience_level TEXT,
	employment_type TEXT,
	job_title TEXT,
	salary INTEGER,
	salary_currency TEXT,
	salary_in_usd INTEGER,
	employee_residence TEXT,
	remote_ratio INTEGER,
	company_location TEXT,
	company_size TEXT
)

/*
3 rows from salaries table:
index	work_year	experience_level	employment_type	job_title	salary	salary_currency	salary_in_usd	employee_residence	remote_ratio	company_location	company_size
0	2023	SE	FT	Principal Data Scientist	80000	EUR	85847	ES	100	ES	L
1	2023	MI	CT	ML Engineer	30000	USD	30000	US	100	US	S
2	2023	MI	CT	ML Engineer	25500	USD	25500	US	100	US	S
*/

In [17]:
@tool("execute_sql")
def execute_sql(sql_query: str) -> str:
    """Execute a SQL query against the database. Returns the result"""
    return QuerySQLDataBaseTool(db=db).invoke(sql_query)

In [18]:
execute_sql.run("SELECT * FROM salaries WHERE salary > 10000 LIMIT 5")

Using Tool: execute_sql

"[(0, 2023, 'SE', 'FT', 'Principal Data Scientist', 80000, 'EUR', 85847, 'ES', 100, 'ES', 'L'), (1, 2023, 'MI', 'CT', 'ML Engineer', 30000, 'USD', 30000, 'US', 100, 'US', 'S'), (2, 2023, 'MI', 'CT', 'ML Engineer', 25500, 'USD', 25500, 'US', 100, 'US', 'S'), (3, 2023, 'SE', 'FT', 'Data Scientist', 175000, 'USD', 175000, 'CA', 100, 'CA', 'M'), (4, 2023, 'SE', 'FT', 'Data Scientist', 120000, 'USD', 120000, 'CA', 100, 'CA', 'M')]"

In [19]:
@tool("check_sql")
def check_sql(sql_query: str) -> str:
    """
    Use this tool to double check if your query is correct before executing it. Always use this
    tool before executing a query with `execute_sql`.
    """
    return QuerySQLCheckerTool(db=db, llm=llm).invoke({"query": sql_query})

In [20]:
check_sql.run("SELECT * WHERE salary > 10000 LIMIT 5 table = salaries")

Using Tool: check_sql

'SELECT * FROM salaries WHERE salary > 10000 LIMIT 5'

## Agents

In [21]:
sql_dev = Agent(
    role="Senior Database Developer",
    goal="Construct and execute SQL queries based on a request",
    backstory=dedent(
        """
        You are an experienced database engineer who is master at creating efficient and complex SQL queries.
        You have a deep understanding of how different databases work and how to optimize queries.
        Use the `list_tables` to find available tables.
        Use the `tables_schema` to understand the metadata for the tables.
        Use the `execute_sql` to check your queries for correctness.
        Use the `check_sql` to execute queries against the database.
    """
    ),
    llm=llm,
    tools=[list_tables, tables_schema, execute_sql, check_sql],
    allow_delegation=False,
)

In [22]:
data_analyst = Agent(
    role="Senior Data Analyst",
    goal="You receive data from the database developer and analyze it",
    backstory=dedent(
        """
        You have deep experience with analyzing datasets using Python.
        Your work is always based on the provided data and is clear,
        easy-to-understand and to the point. You have attention
        to detail and always produce very detailed work (as long as you need).
    """
    ),
    llm=llm,
    allow_delegation=False,
)

In [23]:
report_writer = Agent(
    role="Senior Report Editor",
    goal="Write an executive summary type of report based on the work of the analyst",
    backstory=dedent(
        """
        Your writing still is well known for clear and effective communication.
        You always summarize long texts into bullet points that contain the most
        important details.
        """
    ),
    llm=llm,
    allow_delegation=False,
)

## Tasks

In [24]:
extract_data = Task(
    description="Extract data that is required for the query {query}.",
    expected_output="Database result for the query",
    agent=sql_dev,
)

In [25]:
analyze_data = Task(
    description="Analyze the data from the database and write an analysis for {query}.",
    expected_output="Detailed analysis text",
    agent=data_analyst,
    context=[extract_data],
)

In [26]:
write_report = Task(
    description=dedent(
        """
        Write an executive summary of the report from the analysis. The report
        must be less than 100 words.
    """
    ),
    expected_output="Markdown report",
    agent=report_writer,
    context=[analyze_data],
)

## Crew

In [27]:
crew = Crew(
    agents=[sql_dev, data_analyst, report_writer],
    tasks=[extract_data, analyze_data, write_report],
    process=Process.sequential,
    verbose=2,
    memory=False,
    output_log_file="crew.log",
)

ValidationError: 1 validation error for Crew
verbose
  Input should be a valid boolean, unable to interpret input [type=bool_parsing, input_value=2, input_type=int]
    For further information visit https://errors.pydantic.dev/2.8/v/bool_parsing

In [28]:
inputs = {
    "query": "Effects on salary (in USD) based on company location, size and employee experience"
}

result = crew.kickoff(inputs=inputs)

NameError: name 'crew' is not defined

In [27]:
print(result)

**Executive Summary**
===============

The analysis of salary data reveals that company location, size, and employee experience significantly impact salary. Key findings include:

* Top 5 countries with highest average salaries: United States, Switzerland, Singapore, Australia, and Canada
* Large companies have higher average salaries than medium-sized and small companies
* Employees with experience in Management Information Systems, Engineering, and Software Engineering tend to command higher salaries
* Interactions between company location and size, as well as company location and employee experience, also impact salary
* Large companies in developed countries and employees with in-demand skills tend to receive higher salaries

In [28]:
inputs = {
    "query": "How is the `Machine Learning Engineer` salary in USD is affected by remote positions"
}

result = crew.kickoff(inputs=inputs)

 [2024-06-22 21:21:04][DEBUG]: == Working Agent: Senior Database Developer
 [2024-06-22 21:21:04][INFO]: == Starting Task: Extract data that is required for the query How is the `Machine Learning Engineer` salary in USD is affected by remote positions.


salaries




CREATE TABLE salaries (
	"index" INTEGER,
	work_year INTEGER,
	experience_level TEXT,
	employment_type TEXT,
	job_title TEXT,
	salary INTEGER,
	salary_currency TEXT,
	salary_in_usd INTEGER,
	employee_residence TEXT,
	remote_ratio INTEGER,
	company_location TEXT,
	company_size TEXT
)

/*
3 rows from salaries table:
index	work_year	experience_level	employment_type	job_title	salary	salary_currency	salary_in_usd	employee_residence	remote_ratio	company_location	company_size
0	2023	SE	FT	Principal Data Scientist	80000	EUR	85847	ES	100	ES	L
1	2023	MI	CT	ML Engineer	30000	USD	30000	US	100	US	S
2	2023	MI	CT	ML Engineer	25500	USD	25500	US	100	US	S
*/



The provided SQL query appears to be correct and does not contain any of the common mistakes listed. Here is the final SQL query:

```
SELECT job_title, remote_ratio, AVG(salary_in_usd) AS avg_salary
FROM salaries
WHERE job_title = 'Machine Learning Engineer'
GROUP BY job_title, remote_ratio
```



[('Machine Learning Engineer', 0, 162631.52469135803), ('Machine Learning Engineer', 50, 100277.61111111111), ('Machine Learning Engineer', 100, 151874.45871559632)]

 [2024-06-22 21:22:13][DEBUG]: == [Senior Database Developer] Task output: [('Machine Learning Engineer', 0, 162631.52469135803), ('Machine Learning Engineer', 50, 100277.61111111111), ('Machine Learning Engineer', 100, 151874.45871559632)]


 [2024-06-22 21:22:13][DEBUG]: == Working Agent: Senior Data Analyst
 [2024-06-22 21:22:13][INFO]: == Starting Task: Analyze the data from the database and write an analysis for How is the `Machine Learning Engineer` salary in USD is affected by remote positions.
 [2024-06-22 21:22:20][DEBUG]: == [Senior Data Analyst] Task output: The provided dataset consists of three tuples, each containing the job title 'Machine Learning Engineer', a remote work percentage, and the corresponding average salary in USD.

To analyze how the `Machine Learning Engineer` salary in USD is affected by remote positions, we can examine the relationship between the remote work percentage and the average salary.

From the data, we can observe that when the remote work percentage is 0 (i.e., no remote work), the average salary is approximately 162,631.52 USD. When the remote work percentage increases to 50, the average salary decreases to around 100,277.61 USD, which is a reduction of about 38.3% compared to the no-remote-work scenario.

Finally, when the remote work percentage reaches 100 (i.e., fully remote), the average salary increases to approximately 151,874.46 USD, which is still lower than the no-remote-work scenario but higher than the partially remote scenario.

Based on this analysis, we can conclude that the `Machine Learning Engineer` salary in USD is negatively affected by remote positions, with fully remote positions resulting in a lower average salary compared to no remote work. However, the impact of remote work on salary is not strictly monotonic, as partially remote positions result in a lower average salary than fully remote positions. This suggests that other factors, such as company policies, industry standards, or individual circumstances, may also influence the relationship between remote work and salary.


 [2024-06-22 21:22:20][DEBUG]: == Working Agent: Senior Report Editor
 [2024-06-22 21:22:20][INFO]: == Starting Task:
Write an executive summary of the report from the analysis. The report
must be less than 100 words.

 [2024-06-22 21:22:29][DEBUG]: == [Senior Report Editor] Task output: **Executive Summary: Impact of Remote Work on Machine Learning Engineer Salaries**
============================================================

### Key Findings

* Average salary for Machine Learning Engineers with no remote work: $162,631.52
* Average salary decreases by 38.3% to $100,277.61 with 50% remote work
* Average salary increases to $151,874.46 with 100% remote work, still lower than no remote work
* Remote work has a negative impact on salaries, but the relationship is not strictly monotonic
* Other factors, such as company policies, industry standards, or individual circumstances, may influence the relationship between remote work and salary

In [29]:
print(result)

**Executive Summary: Impact of Remote Work on Machine Learning Engineer Salaries**
============================================================

### Key Findings

* Average salary for Machine Learning Engineers with no remote work: $162,631.52
* Average salary decreases by 38.3% to $100,277.61 with 50% remote work
* Average salary increases to $151,874.46 with 100% remote work, still lower than no remote work
* Remote work has a negative impact on salaries, but the relationship is not strictly monotonic
* Other factors, such as company policies, industry standards, or individual circumstances, may influence the relationship between remote work and salary

## References

- [DS Salaries Dataset](https://huggingface.co/datasets/Einstellung/demo-salaries)